!
! 
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec localtime show-timezone year
service password-encryption
!
hostname 
!
boot-start-marker
boot-end-marker
!
logging buffered 52000 warnings
enable secret 5 
!
username d privilege 15 secret 5 
aaa new-model
!
!
aaa group server tacacs+ 
 server 
 server 
!
aaa group server radius 
 server name Radius-1
 server name Radius-2
 server name Radius-3
 server name Radius-4
!
aaa authentication login default group  local
aaa authentication enable default group  enable
aaa authentication dot1x default group radius
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group  local if-authenticated 
aaa authorization commands 0 default group  local 
aaa authorization commands 1 default group  local 
aaa authorization commands 15 default group  local 
aaa authorization network default group radius 
aaa accounting update newinfo
aaa accounting dot1x default start-stop group radius
aaa accounting exec default start-stop broadcast group 
aaa accounting commands 0 default start-stop broadcast group 
aaa accounting commands 1 default start-stop broadcast group 
aaa accounting commands 15 default start-stop broadcast group 
!
!
!
!
!
!
aaa session-id common
clock timezone Tehran 3 30
switch 1 provision 
!
!
ip dhcp snooping vlan 
no ip dhcp snooping information option
ip dhcp snooping
ip domain-name 
ip name-server 
ip name-server 
login block-for 120 attempts 3 within 60
login delay 3
login on-failure log
login on-success log
vtp domain 
vtp mode transparent
!
!
!
!
!
!
!
!
archive
 log config
  logging enable
  logging size 400
  hidekeys
 path flash:ARCHIVE
 time-period 1440
dot1x system-auth-control
!
spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree extend system-id
errdisable recovery cause channel-misconfig
errdisable recovery cause psecure-violation
errdisable recovery interval 900
!
!
!
!
vlan internal allocation policy ascending
!

!
! 
!
!
!
!
!
!
template 1/0/1
!
!
!
!
interface Port-channel1
 description 
 switchport trunk native vlan 666
 switchport mode trunk
 switchport nonegotiate
 ip dhcp snooping trust
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet1/0/1
 description 
 switchport access vlan 
 switchport mode access
 ip verify source
 ip dhcp snooping limit rate 20
!
interface GigabitEthernet1/0/2
 description 
 switchport access vlan 
 switchport mode access
 ip verify source
 ip dhcp snooping limit rate 20
!
interface GigabitEthernet1/0/3
 description 
 switchport access vlan 
 switchport mode access
 switchport port-security violation  restrict
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/4
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/5
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/6
 switchport access vlan 103
 switchport mode access
 switchport port-security maximum 2
 switchport port-security violation  restrict
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/7
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/8
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/9
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/10
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/11
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/12
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/13
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/14
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 20
!
interface GigabitEthernet1/0/15
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/16
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/17
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/18
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/19
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/20
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/21
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/22
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/23
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication timer reauthenticate server
 authentication violation restrict
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!
interface GigabitEthernet1/0/24
 switchport access vlan 
 switchport mode access
 switchport port-security maximum 2
 switchport port-security mac-address sticky
 switchport port-security
 power inline never
 authentication event fail action next-method
 authentication host-mode multi-auth
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication violation restrict
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip verify source
 ip dhcp snooping limit rate 10
!

interface GigabitEthernet1/0/49
!
interface GigabitEthernet1/0/50
 switchport mode trunk
!
interface TenGigabitEthernet1/0/1
 description 
 switchport trunk native vlan 666
 switchport mode trunk
 switchport nonegotiate
 channel-group 1 mode active
 ip dhcp snooping trust
!
interface TenGigabitEthernet1/0/2
 description 
 switchport trunk native vlan 666
 switchport mode trunk
 switchport nonegotiate
 channel-group 1 mode active
 ip dhcp snooping trust
!

interface Vlan1
 no ip address
 shutdown
!
interface Vlan
 description MNG
 ip address 
!
ip default-gateway 
no ip http server
no ip http secure-server
!
ip ssh version 2
ip tacacs source-interface 
!
ip access-list standard LINE-ACL
 
ip access-list standard LAN-SNMP-ACL
 

ip radius source-interface Vlan
logging origin-id hostname
logging facility local4
logging source-interface Vlan
logging host 

!
snmp-server group SNMP-MONITOR v3 priv 
snmp-server group  v3 priv read SNMP-READ write SNMP-WR notify SNMP-NF access SNMP-ACL
snmp-server group  v3 priv read SNMP-READ access SNMP-ACL
snmp-server view SNMP-NF iso included
snmp-server view SNMP-WR iso included
snmp-server view SNMP-READ iso included
snmp-server community  RO
snmp-server community 
snmp-server trap-source Vlan
snmp-server location 
snmp-server contact 
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps transceiver all
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps license
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps cluster
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps trustsec-sxp conn-srcaddr-err msg-parse-err conn-config-err binding-err conn-up conn-down binding-expn-fail oper-nodeid-change binding-conflict
snmp-server enable traps energywise
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps event-manager
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps power-ethernet group 1
snmp-server enable traps power-ethernet group 2
snmp-server enable traps power-ethernet group 3
snmp-server enable traps power-ethernet police
snmp-server enable traps cpu threshold
snmp-server enable traps vstack
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps port-security
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps stackwise
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps errdisable
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps vlan-membership

snmp ifmib ifindex persist
tacacs-server host 
tacacs-server host 
tacacs-server key 7 
!
radius-server attribute 6 on-for-login-auth
radius-server attribute 6 support-multiple
radius-server attribute 8 include-in-access-req
radius-server attribute 25 access-request include
radius-server dead-criteria time 30 tries 3
radius-server timeout 2
radius-server key 7 
!
radius server Radius-1
 address ipv4  auth-port 1812 acct-port 1813
 retransmit 3
 key 7 
radius server Radius-2
 address ipv4  auth-port 1812 acct-port 1813
 retransmit 3
 key 7 
!
radius server Radius-3
 address ipv4  auth-port 1812 acct-port 1813
 retransmit 3
 key 7 
!
radius server Radius-4
 address ipv4  auth-port 1812 acct-port 1813
 retransmit 3
 key 7 
no vstack
banner login 
!
line con 0
 exec-timeout 5 0
 logging synchronous
line vty 0 4
 access-class LAN-line-ACL in
 exec-timeout 5 0
 logging synchronous
 transport input ssh
 transport output telnet
line vty 5 15
 access-class LAN-line-ACL in
 exec-timeout 5 0
 logging synchronous
 transport input ssh
 transport output telnet
!
ntp server  prefer source Vlan
ntp server  source Vlan
end